.places {
  padding-top: 82px;
}
@media screen and (max-width: 1024px) {
  .places {
    padding-top: calc(80px + 4 * ((100vw - 768px) / (1024 - 768)));
  }
}
@media screen and (max-width: 768px) {
  .places {
    padding-top: calc(62px + 22 * ((100vw - 320px) / (768 - 320)));
  }
}
