.cover__subtitle {
  width: 360px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
  margin: 33px 0 0;
}
@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin: 31px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: calc(288px + 70 * ((100vw - 320px) / (768 - 320)));
    font-size: calc(14px + (4 + 4 * 0.73) * ((100vw - 320px) / 768));
    margin-top: calc(19px + 18 * ((100vw - 320px) / (768 - 320)));
  }
}
