.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 48px 48px;
}
@media screen and (max-width: 1280px) {
  .header {
    padding-bottom: calc(47px + 6 * ((100vw - 1024px) / (1280 - 1024)));
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 27px calc(24px + 24 * ((100vw - 768px) / (1024 - 768)));
    padding-bottom: 47px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: calc(16px + 12 * ((100vw - 320px) / (768 - 320)));
    padding-left: calc(16px + 9 * ((100vw - 320px) / (768 - 320)));
    padding-right: calc(16px + 9 * ((100vw - 320px) / (768 - 320)));
    padding-bottom: 45px;
  }
}

