.footer__container {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 48px;
}
@media screen and (max-width: 1024px) {
  .footer__container {
    margin: 0 calc(24px + 24 * ((100vw - 768px) / (1024 - 768)));
  }
}
@media screen and (max-width: 768px) {
  .footer__container {
    align-items: baseline;
  }
}
@media screen and (max-width: 710px) {
  .footer__container {
    flex-direction: column;
    margin: 0 calc(16px + 2.5 * ((100vw - 320px) / (710 - 320)));
  }
}
