.place__text {
  display: flex;
  flex-direction: column;
}
.place__text .place__text_paragraph:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 320px) {
  .place__text {
    padding-top: 7px;
  }
  .place__text .place__text_paragraph:last-child {
    margin-right: 22px;
  }
}
