.place__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 28px;
}
.place__paragraph:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: calc(16px + (2 + 2 * 2.9) * ((100vw - 768px) / 1024));
  }
}
@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 0 22px 25px 15px;
    line-height: 1.63;
  }
}

