.website__link {
  color: inherit;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  transition: opacity .3s linear;
  max-width: 220px;
}
.website__link::before {
  content: "URL";
  min-width: 175px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #aaa;
  display: inline-block;
  margin-bottom: 12px;
  text-decoration: none;
}
.website__link:hover {
  cursor: pointer;
  opacity: .7;
}
