.intro__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  padding: 36px 0 32px;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .intro__text {
  line-height: 1.62;
  padding-bottom: 31px;
  }
}
@media screen and (max-width: 768px) {
  .intro__text {
  padding: 38px 0 32px;
  }
}
@media screen and (max-width: 320px) {
  .intro__text {
  padding: 41px 0 34px;
  }
}
