.intro {
  padding: 91px 0 92px;
}
@media screen and (max-width: 1024px) {
  .intro {
    padding: calc(87px + 5 * ((100vw - 768px) / (1024 - 768))) 0;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    padding-top: calc(64px + 22 * ((100vw - 320px) / (768 - 320)));
    padding-bottom: calc(83px + 5 * ((100vw - 320px) / (768 - 320)));
  }
}
@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 0 64px;
  }
}
