.place__link {
  color: inherit;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  transition: opacity .3s linear;
  max-width: 220px;
  margin-bottom: -2px;
}
.place__link::before {
  content: "URL";
  min-width: 180px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #aaa;
  display: inline-block;
  margin-bottom: 12px;
  text-decoration: none;
}
.place__link:hover {
  cursor: pointer;
  opacity: .7;
}
@media screen and (max-width: 768px) {
  .place__link::before {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 320px) {
  .place__link {
    margin-left: 16px;
    margin-bottom: 0;
  }
}
