.place {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 46.75% 1fr;
  color: #fff;
  gap: 49px 40px;
  margin-bottom: 74px;
}
.place:last-child {
  margin-bottom: 90px;
}
@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: 47.5% 1fr;
    gap: 48px 31px;
    margin-bottom: calc(66px + 7 * ((100vw - 768px) / (1024 - 768)));
  }
  .place:nth-last-child(2) {
    margin-bottom: 75px;
  }
  .place:last-child {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: 47.22% 1fr;
    gap: 50px 28px;
    margin-bottom: calc(49px + 22 * ((100vw - 320px) / (768 - 320)));
  }
  .place:nth-last-child(2) {
    margin-bottom: 68px;
  }
  .place:last-child {
    margin-bottom: calc(45px + 48 * ((100vw - 320px) / (768 - 320)));
  }
}
@media screen and (max-width: 601px) {
  .place {
    grid-template-columns: 1fr;
    margin-left: 24px;
    margin-right: 24px;
  }
  .place:nth-last-child(2) {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 517px) {
  .place {
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media screen and (max-width: 320px) {
  .place {
    gap: 32px;
    margin-bottom: 49px;
    margin-left: 0;
    margin-right: 0;
  }
  .place:last-child {
    margin-bottom: 39px;
  }
}
