.footer {
  padding: 81px 0 25px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding-top: calc(76px + 14 * ((100vw - 768px) / (1024 - 768)));
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding-top: calc(58px + 27 * ((100vw - 320px) / (768 - 320)));
    padding-bottom: calc(14px + 9 * ((100vw - 320px) / (768 - 320)));
  }
}
@media screen and (max-width: 320px) {
  .footer {
    padding: 61px 0 14px;
  }
}
